header {
  height:40px;
  margin:5px;
  margin-bottom:130px;
}
nav {
  margin:10px;
}
nav ul {
  list-style:none;
  text-align:center;
  border-top:1px solid red;
  border-bottom:1px solid red;
  padding:10px 0;
}
nav ul li {
  display:inline;
  text-transform:uppercase;
  padding:0 10px;
  letter-spacing:10px;
}
nav ul li a {
  text-decoration:none;
  color:black;
}
nav ul li a:hover {
  text-decoration:underline;
  color:orange;
}
img {
  width:150px;
  height:150px;
}
aside#left {
  width:150px;
  float:left;
  margin-right:10px;
}
#left ul {
  color:#fff;
  list-style:none;
  text-indent:15px;
  margin-top:0px;
}
#left h4 {
  margin-left:40px;
  margin-bottom:0px;
  background: #e3e3e3;
  text-indent:5px;
}
#left ul li {
  background: #3f3f3f;
  line-height:30px;
  font-size:20px;
}
#left ul li a {
  text-decoration:none;
  color:#fff;
  display:block;
}
#left ul li a:hover {
  background:black;
}
#main {
  color:#444;
  overflow:hidden;
  float:left;
  width:700px;
  height:450px;
}
footer {
  clear: both;
  padding-top:150px;
}
